body {
          font-family: Arial, sans-serif;
          background-color: #a1db60;
          margin: 0;
          padding: 0;
      }
      
      .container {
          width: 50%;
          margin: auto;
          overflow: hidden;
          padding: 30px;
          background: #a8dd3d;
          margin-top: 50px;
          box-shadow: 0px 0px 10px 0px #161491;
          border-radius:10px;
      }
      
      h1 {
          text-align: center;
          color: #24432e;
      }
      
      form label {
          display: block;
          margin-bottom: 10px;
          font-weight: bold;
      }
      
      form input, form select {
          width: 100%;
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid #0d0ab7;
          border-radius: 5px;
      }
      
      button {
          display: block;
          width: 100%;
          padding: 10px;
          background: #270674;
          color: rgb(212, 215, 178);
          border: none;
          border-radius: 5px;
          font-size: 16px;
          transition: background-color .75s;
      }
      
      button:hover {
          background-color: #066813;
      }
      
      #result {
          margin-top: 20px;
          font-size: 18px;
      }